body {
  background-color: rgb(206, 36, 36);
  margin-right: 300px;
}
.Holes {
  margin: auto;
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.H1 {
  border: 10px solid blue;
  padding: 25px;
  border-radius: 200px 200px 200px 200px;
}
.H2 {
  border: 10px solid blue;
  padding: 25px;
  border-radius: 50px 50px 50px 50px;
}
.H3 {
  border: 10px solid blue;
  padding: 25px;
  border-radius: 50px 50px 50px 50px;
}
.H4 {
  border: 10px solid blue;
  padding: 25px;
  border-radius: 50px 50px 50px 50px;
}
.H5 {
  border: 10px solid blue;
  padding: 25px;
  border-radius: 50px 50px 50px 50px;
}
.H6 {
  border: 10px solid blue;
  padding: 25px;
  border-radius: 50px 50px 50px 50px;
}
.H7 {
  border: 10px solid blue;
  padding: 25px;
  border-radius: 50px 50px 50px 50px;
}
.H8 {
  border: 10px solid blue;
  padding: 25px;
  border-radius: 50px 50px 50px 50px;
}
.H9 {
  border: 10px solid blue;
  padding: 25px;
  border-radius: 50px 50px 50px 50px;
}
.H10 {
  border: 10px solid blue;
  padding: 25px;
  border-radius: 50px 50px 50px 50px;
}
.H11 {
  border: 10px solid blue;
  padding: 25px;
  border-radius: 50px 50px 50px 50px;
}
.H12 {
  border: 10px solid blue;
  padding: 25px;
  border-radius: 50px 50px 50px 50px;
}
//sass --watch game.scss game.css
