body {
  background-color: rgb(206, 36, 36);
  //margin-right: 1000px;
}
// #board {
//   border: 1px solid black;
//   background-color: grey;
//   height: 350px;
//   width: 650px;
// }
.holes {
  display: grid;
  grid-template-columns: repeat(4, 1fr); // 4 columns
  grid-template-rows: repeat(3, 1fr); // 3 rows
  gap: 30px;

  width: 600px;
  margin: 40px auto;
}

.hole {
  border: 10px solid blue;
  padding: 25px;
  border-radius: 50%;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}
.hole.active {
  background-color: green;
}
//sass --watch game.scss game.css
