body {
  background-color: rgb(206, 36, 36);
  //margin-right: 1000px;
}
.holes {
  height: 100px;
  width: 100%;
  display: flex;
  gap: 50px;
  &__One {
    border: 10px solid blue;
    padding: 25px;
    border-radius: 50px 50px 50px 50px;
  }
  &__Two {
    border: 10px solid blue;
    padding: 25px;
    border-radius: 50px 50px 50px 50px;
  }
  &__Three {
    border: 10px solid blue;
    padding: 25px;
    border-radius: 50px 50px 50px 50px;
  }
  &__Four {
    border: 10px solid blue;
    padding: 25px;
    border-radius: 50px 50px 50px 50px;
  }
  &__Five {
    border: 10px solid blue;
    padding: 25px;
    border-radius: 50px 50px 50px 50px;
  }
  &__Six {
    border: 10px solid blue;
    padding: 25px;
    border-radius: 50px 50px 50px 50px;
  }
  &__Seven {
    border: 10px solid blue;
    padding: 25px;
    border-radius: 50px 50px 50px 50px;
  }
  &__Eight {
    border: 10px solid blue;
    padding: 25px;
    border-radius: 50px 50px 50px 50px;
  }
  &__Nine {
    border: 10px solid blue;
    padding: 25px;
    border-radius: 50px 50px 50px 50px;
  }
  &__Ten {
    border: 10px solid blue;
    padding: 25px;
    border-radius: 50px 50px 50px 50px;
  }
  &__Eleven {
    border: 10px solid blue;
    padding: 25px;
    border-radius: 50px 50px 50px 50px;
  }
  &__Twelve {
    border: 10px solid blue;
    padding: 25px;
    border-radius: 50px 50px 50px 50px;
  }
}
// .H1 {
//   border: 10px solid blue;
//   padding: 25px;
//   border-radius: 200px 200px 200px 200px;
// }
// .H2 {
//   border: 10px solid blue;
//   padding: 25px;
//   border-radius: 50px 50px 50px 50px;
// }
// .H3 {
//   border: 10px solid blue;
//   padding: 25px;
//   border-radius: 50px 50px 50px 50px;
// }
// .H4 {
//   border: 10px solid blue;
//   padding: 25px;
//   border-radius: 50px 50px 50px 50px;
// }
// .H5 {
//   border: 10px solid blue;
//   padding: 25px;
//   border-radius: 50px 50px 50px 50px;
// }
// .H6 {
//   border: 10px solid blue;
//   padding: 25px;
//   border-radius: 50px 50px 50px 50px;
// }
// .H7 {
//   border: 10px solid blue;
//   padding: 25px;
//   border-radius: 50px 50px 50px 50px;
// }
// .H8 {
//   border: 10px solid blue;
//   padding: 25px;
//   border-radius: 50px 50px 50px 50px;
// }
// .H9 {
//   border: 10px solid blue;
//   padding: 25px;
//   border-radius: 50px 50px 50px 50px;
// }
// .H10 {
//   border: 10px solid blue;
//   padding: 25px;
//   border-radius: 50px 50px 50px 50px;
// }
// .H11 {
//   border: 10px solid blue;
//   padding: 25px;
//   border-radius: 50px 50px 50px 50px;
// }
// .H12 {
//   border: 10px solid blue;
//   padding: 25px;
//   border-radius: 50px 50px 50px 50px;
// }
//sass --watch game.scss game.css
